@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inclusive+Sans:wght@400;600&family=Inter:wght@500;600&family=Mingzat&display=swap");

@import "tailwindcss";
@import "./main.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0d0e0f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}